{% extends "layout.html" %}
{% block content %}

  <div class="titulo">
    <h1>Solucionario de examenes</h1>
    <h2>Ordinario</h2>
    <h2>Indice</h2>  
  </div>

  <div class="listas">
    <ul>
      <li>Examen desarrollado 2012</li>
        <ul>
          <li>Examen 2012 I Fase</li>
          <li>Examen 2012 II Fase</li>
          <li>Examen 2012 III Fase</li>
        </ul>
      <li>Examen desarrollado 2013</li>
        <ul>
          <li>Examen 2013 I Fase</li>
          <li>Examen 2013 II Fase</li>
          <li>Examen 2013 III Fase</li>
        </ul>
      <li>Examen desarrollado 2014</li>
        <ul>
          <li>Examen 2014 I Fase</li>
          <li>Examen 2014 II Fase</li>
          <li>Examen 2014 III Fase</li>
        </ul>
      <li>Examen desarrollado 2015</li>
        <ul>
          <li>Examen 2015 I Fase</li>
          <li>Examen 2015 II Fase</li>
          <li>Examen 2015 III Fase</li>
        </ul>
      <li>Examen desarrollado 2016</li>
        <ul>
          <li>Examen 2016 I Fase</li>
          <li>Examen 2016 II Fase</li>
          <li>Examen 2016 III Fase</li>
        </ul>
      <li>Examen desarrollado 2017</li>
        <ul>
          <li>Examen 2017 I Fase</li>
          <li>Examen 2017 II Fase</li>
          <li>Examen 2017 III Fase</li>
        </ul>
      <li>Examen desarrollado 2018</li>
        <ul>
          <li>Examen 2018 I Fase</li>
          <li>Examen 2018 II Fase</li>
          <li>Examen 2018 III Fase</li>
        </ul>
      <li>Examen desarrollado 2019</li>
        <ul>
          <li>Examen 2019 I Fase</li>
          <li>Examen 2019 II Fase</li>
          <li>Examen 2019 III Fase</li>
        </ul>
      <li>Examen desarrollado 2020</li>
        <ul>
          <li>Examen 2020 I Fase</li>
          <li>Examen 2020 II Fase</li>
          <li>Examen 2020 III Fase</li>
        </ul>
      <li>Examen desarrollado 2021</li>
        <ul>
          <li>Examen 2021 I Fase</li>
          <li>Examen 2021 II Fase</li>
          <li>Examen 2021 III Fase</li>
        </ul>
    </ul>
  </div>


{% endblock %}